<mat-drawer-container [hasBackdrop]="false" class="grow">
  <mat-drawer #drawer mode="push" class="p-4 bg-[#abc1f2]! text-white! text-xl">Sidenav</mat-drawer>
  <mat-drawer-content class="p-2">
    <header>
      <button matIconButton (click)="drawer.toggle()">
         <mat-icon>menu</mat-icon>
    </button>
    </header>
    <main class="p-3">
      <h1>Main Content</h1> <br> <br>

      <h2>APP INFO</h2>
      <h3>{{ projectName | replaceDashes | titlecase }}</h3>
      <h3>Version: {{ version }}</h3>
      <h3>API: {{ apiURL }}</h3>
      <h3>Environment: {{ env }}</h3>
      <h3>Angular CLI Version: {{ angularCLIVersion }}</h3>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
